body {
	padding: 0;
	margin: 0;
	font-family: 나눔바른고딕, "Nanum Barun Gothic", "Noto Sans KR", "Malgun Gothic", AppleSDGothicNeo-Regular, Dotum, AppleSDGothic, "Apple SD Gothic Neo", AppleGothic;
	background-color: #eee;
}

.content {
	padding: 20px;
}

.main {
	height: 100%;
}

.main-header {
	height: 65px;
	width: 100%;
	padding: 5px;
	background-color: #1ea1f7;
}

.site-links {
	display: inline-block;
	list-style-type:none;
	white-space:nowrap;
}

.site-link {
	display: inline-block;
	list-style: none;
	font-size: 22px;
	position: relative;
	color: #fff;
}

.site-link-border-right {
	margin-right: 20px;
	padding-right: 20px; 
	border-right: 1px solid #2eb1f7;
}

.neutral-anchor {
	color: inherit;
	text-decoration: none;
}

.search-form {
	display: inline-block;
	float: right;
	vertical-align: middle;
	margin-top: 19px;
	margin-right: 40px;
}

.search-input:focus + .results { display: block }
.search-input:focus {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom: none;
}

.search-input {
	outline: none;
	text-align: left;
	display: inline-block;
	width: 250px;
	font-size: 14px;
	height: 25px;
    padding: 0 12px 0 25px;
	border-radius: 8px;
	border: 1px solid #333;
}

.results {
	top: 33px;
	color: #333;
	font-size: 14px;
	display: none;
    position: absolute;
    width: 248px;
    background-color: #fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
	border: 1px solid #333;
	border-top: none;
	padding: 0px;
	padding-top: 10px;
	list-style: none;
}

.result {
	width: 248px;
	height: 48px;
}

.result-final {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.result:hover {
	background-color: #ddd;
}

.result img {
	display: inline-block;
	width: 48px;
	height: 48px;
	float: left;
}

.result span {
	display: inline-block;
	width: 184px;
	float: right;
	font-size: 16px;
	color: black;
	vertical-align: middle;
}

.sub-header {
	background-color: #2955c4;
	height: 40px;
	width: 100%;
	font-size: 18px;
	display: inline-block;
}

.sub-link {
	margin-top: -10px;
	vertical-align: middle;
	display: inline-block;
	list-style: none;
	position: relative;
	padding-bottom: 20px;
	margin-right: 25px;
}

.sub-neutral-link {
	color: #73a1cb;
	text-decoration: none;
}

.sub-neutral-link:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid #fff;
}

.content-page {
	width: 85%;
	background-color: #fff;
	display: flex;
	flex-flow: column;
	height: 100%;
}

.layout-table {
	border: none;
	padding: 10px;
}

.graph-container {
	border: 2px solid #ccc;
	width: 700px;
	margin-bottom: 40px;
	background-color: #fff; 
}

.graph {
	margin: 0px;
}

.graph-title {
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;
}

.graph-category {
	text-align: left;
	font-size: 28px;
	display: inline-block;
	line-height: 32px;
	margin-top: 40px;
}

.graph-category-title {
	display: inline-block;
	vertical-align: top;
}

.icon {
	float: left;
	width: 32px;
	height: 32px;
}