<center>
	<table class="layout-table">
		<tr>
			<td colspan="2" style="width:100%">
				<div class="graph-category" style="margin-top: 0px">
					<img class="icon" src="../img/chromatic.png">
					<span class="graph-category-title">Chromatic Orb</span>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<center>
					<div class="graph-container">
						<img class="graph" src="../img/graphs/chromatic.png"></img>
						<h3 class="graph-title">Chromatic to Chaos exhange rate</h3>
					</div>
				</center>
			</td>
			<td>
				<center>
					<div class="graph-container">
						<img class="graph" src="../img/graphs/chromatic.png"></img>
						<h3 class="graph-title">Chaos to Chromatic exchange rate</h3>
					</div>
				</center>
			</td>
		</tr>


		<tr>
			<td colspan="2" style="width:100%">
				<div class="graph-category">
					<img class="icon" src="../img/alchemy.png">
					<span class="graph-category-title">Orb of Alchemy</span>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<center>
					<div class="graph-container">
						<img class="graph" src="../img/graphs/alchemy.png"></img>
						<h3 class="graph-title">Alchemy to Chaos exchange rate</h3>
					</div>
				</center>
			</td>
			<td>
				<center>
					<div class="graph-container">
						<img class="graph" src="../img/graphs/alchemy.png"></img>
						<h3 class="graph-title">Chaos to Alchemy exchange rate</h3>
					</div>
				</center>
			</td>
		</tr>
	</table>
</center>