<html>
	<head>
		<title>PoE currency pricing</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<div class="main-header">
			<ul class="site-links">
				<li class="site-link site-link-border-right"><a href="#" class="neutral-anchor">PoE Stocks</a></li>
				<li class="site-link site-link-border-right"><a href="#" class="neutral-anchor">Source code</a></li>
			</ul>
			<form class="search-form">
				<input class="search-input" type="text" name="query" placeholder="Search for currency ...">
			</form>
		</div>
		<div class="sub-header">
			<ul class="site-links">
				<li class="sub-link"><a class="sub-neutral-link" href="#">Home</a></li>
				<li class="sub-link"><a class="sub-neutral-link" href="#">Dashboard</a></li>
				<li class="sub-link"><a class="sub-neutral-link" href="#">About</a></li>
			</ul>
		</div>
		<div class="content">
			<table class="layout-table">
				<tr>
					<td>
						<div class="graph-container">
							<img class="graph" src="../img/ex.png"></img>
						</div>
					</td>
					<td>
						<div class="graph-container">
							<img class="graph" src="../img/ex.png"></img>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>