<tr>
	<td colspan="2" style="width:100%">
		<div class="graph-category" style="margin-top: 0px">
			<img class="icon" src="static/img/currency/{filename}.png">
			<span class="graph-category-title">{display_name}</span>
		</div>
	</td>
</tr>
<tr>
	<td>
		<center>
			<div class="graph-container">
				<img class="graph" src="static/img/graphs/{filename}.png"></img>
				<h3 class="graph-title">{display_name} to Chaos exhange rate</h3>
			</div>
		</center>
	</td>
	<td>
		<center>
			<div class="graph-container">
				<img class="graph" src="static/img/graphs/{filename}.png"></img>
				<h3 class="graph-title">Chaos to {display_name} exchange rate</h3>
			</div>
		</center>
	</td>
</tr>