<center>
	<h2>Permanent exchange rates</h2>
	<table class="rates-table">
		<tr class="rates">
			<td>
				Currency
			</td>
			<td>
				Price
			</td>
			<td>
				Source
			</td>
			<td>
				Exchange rate
			</td>
		</tr>
		<tr class="rate-title">
			<td colspan=4>Vendors</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/alchemy.png">
			</td>
			<td>
				1 <img src="../static/img/currency/regret.png">
			</td>
			<td>
				Clarissa [Act 3]
			</td>
			<td>
				1.00 <img src="../static/img/currency/alchemy.png"> = 1.00 <img src="../static/img/currency/regret.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/regret.png">
			</td>
			<td>
				2 <img src="../static/img/currency/scouring.png">
			</td>
			<td>
				Yeena [Act 2]
			</td>
			<td>
				0.50 <img src="../static/img/currency/scouring.png"> = 1.00 <img src="../static/img/currency/regret.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/scouring.png">
			</td>
			<td>
				4 <img src="../static/img/currency/chance.png">
			</td>
			<td>
				Yeena [Act 2]
			</td>
			<td>
				0.25 <img src="../static/img/currency/chance.png"> = 1.00 <img src="../static/img/currency/scouring.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/chance.png">
			</td>
			<td>
				1 <img src="../static/img/currency/fusing.png">
			</td>
			<td>
				Clarissa [Act 3]
			</td>
			<td>
				1.00 <img src="../static/img/currency/fusing.png"> = 1.00 <img src="../static/img/currency/chance.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/fusing.png">
			</td>
			<td>
				4 <img src="../static/img/currency/jeweller.png">
			</td>
			<td>
				Yeena [Act 2]
			</td>
			<td>
				0.25 <img src="../static/img/currency/jeweller.png"> = 1.00 <img src="../static/img/currency/fusing.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/chromatic.png">
			</td>
			<td>
				3 <img src="../static/img/currency/jeweller.png">
			</td>
			<td>
				Yeena [Act 2]
			</td>
			<td>
				0.33 <img src="../static/img/currency/jeweller.png"> = 1.00 <img src="../static/img/currency/chromatic.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/jeweller.png">
			</td>
			<td>
				2 <img src="../static/img/currency/alteration.png">
			</td>
			<td>
				Nessa [Act 1]
			</td>
			<td>
				0.50 <img src="../static/img/currency/alteration.png"> = 1.00 <img src="../static/img/currency/jeweller.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/alteration.png">
			</td>
			<td>
				4 <img src="../static/img/currency/augmentation.png">
			</td>
			<td>
				Nessa [Act 1]
			</td>
			<td>
				0.25 <img src="../static/img/currency/augmentation.png"> = 1.00 <img src="../static/img/currency/alteration.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/augmentation.png">
			</td>
			<td>
				4 <img src="../static/img/currency/transmutation.png">
			</td>
			<td>
				Nessa [Act 1]
			</td>
			<td>
				0.25 <img src="../static/img/currency/transmutation.png"> = 1.00 <img src="../static/img/currency/augmentation.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/transmutation.png">
			</td>
			<td>
				7 <img src="../static/img/currency/portal.png">
			</td>
			<td>
				Nessa [Act 1]
			</td>
			<td>
				0.14 <img src="../static/img/currency/portal.png"> = 1.00 <img src="../static/img/currency/transmutation.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/portal.png">
			</td>
			<td>
				3 <img src="../static/img/currency/wisdom.png">
			</td>
			<td>
				Nessa [Act 1]
			</td>
			<td>
				0.33 <img src="../static/img/currency/wisdom.png"> = 1.00 <img src="../static/img/currency/portal.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/glassblower.png">
			</td>
			<td>
				8 <img src="../static/img/currency/whetstone.png">
			</td>
			<td>
				Hargan [Act 3]
			</td>
			<td>
				0.13 <img src="../static/img/currency/whetstone.png"> = 1.00 <img src="../static/img/currency/glassblower.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/whetstone.png">
			</td>
			<td>
				3 <img src="../static/img/currency/scrap.png">
			</td>
			<td>
				Greust [Act 2]
			</td>
			<td>
				0.33 <img src="../static/img/currency/scrap.png"> = 1.00 <img src="../static/img/currency/whetstone.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				1 <img src="../static/img/currency/scrap.png">
			</td>
			<td>
				1 <img src="../static/img/currency/whetstone.png">
			</td>
			<td>
				Tarkleigh [Act 1]
			</td>
			<td>
				1.00 <img src="../static/img/currency/whetstone.png"> = 1.00 <img src="../static/img/currency/scrap.png">
			</td>
		</tr>
		<tr class="rate-title">
			<td colspan=4>Masters</td>
		</tr>
		<tr class="rate">
			<td>
				20 <img src="../static/img/currency/jeweller.png">
			</td>
			<td>
				32 <img src="../static/img/currency/alteration.png">
			</td>
			<td>
				Level 6 Haku
			</td>
			<td>
				0.63 <img src="../static/img/currency/alteration.png"> = 1.00 <img src="../static/img/currency/jeweller.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				20 <img src="../static/img/currency/alteration.png">
			</td>
			<td>
				64 <img src="../static/img/currency/augmentation.png">
			</td>
			<td>
				Level 6 Haku
			</td>
			<td>
				0.31 <img src="../static/img/currency/augmentation.png"> = 1.00 <img src="../static/img/currency/alteration.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				30 <img src="../static/img/currency/scouring.png">
			</td>
			<td>
				96 <img src="../static/img/currency/chance.png">
			</td>
			<td>
				Level 6 Catarina
			</td>
			<td>
				0.31 <img src="../static/img/currency/chance.png"> = 1.00 <img src="../static/img/currency/scouring.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				20 <img src="../static/img/currency/chromatic.png">
			</td>
			<td>
				48 <img src="../static/img/currency/jeweller.png">
			</td>
			<td>
				Level 6 Tora
			</td>
			<td>
				0.42 <img src="../static/img/currency/jeweller.png"> = 1.00 <img src="../static/img/currency/chromatic.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				20 <img src="../static/img/currency/fusing.png">
			</td>
			<td>
				64 <img src="../static/img/currency/jeweller.png">
			</td>
			<td>
				Level 6 Vorici
			</td>
			<td>
				0.31 <img src="../static/img/currency/jeweller.png"> = 1.00 <img src="../static/img/currency/fusing.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				40 <img src="../static/img/currency/regret.png">
			</td>
			<td>
				64 <img src="../static/img/currency/scouring.png">
			</td>
			<td>
				Level 6 Leo
			</td>
			<td>
				0.63 <img src="../static/img/currency/scouring.png"> = 1.00 <img src="../static/img/currency/regret.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				10 <img src="../static/img/currency/alchemy.png">
			</td>
			<td>
				8 <img src="../static/img/currency/regret.png">
			</td>
			<td>
				Level 6 Vagan
			</td>
			<td>
				0.80 <img src="../static/img/currency/regret.png"> = 1.00 <img src="../static/img/currency/alchemy.png">
			</td>
		</tr>
		<tr class="rate">
			<td>
				20 <img src="../static/img/currency/chisel.png">
			</td>
			<td>
				12 <img src="../static/img/currency/chaos.png">
			</td>
			<td>
				Level 6 Zana
			</td>
			<td>
				0.60 <img src="../static/img/currency/chaos.png"> = 1.00 <img src="../static/img/currency/chisel.png">
			</td>
		</tr>
	</table>
</center>